*{
  margin: 0;
  padding: 0;
}
body,html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.215);
}
h1{
  color: rgba(0, 0, 255, 0.395);
  /* margin-bottom: 20px; */
  margin: 20px;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  gap: 10px;
}
.cells{
  border-radius: 5px;
  border: none;
  background-color: rgba(220, 20, 60, 0.671);
  color:wheat;
  font-size: xx-large;
  font-weight: bolder;
}
.cells:hover{
  background-color: rgba(0, 0, 0, 0.621);
  color: aquamarine;
}
.hide{
  display: none;
}
.Gamebtn{
  display: flex;
  flex-direction: column;
}
.Gamebtn button{
margin-top: 10px;
height: 50px;
width: 100px;
background-color: rgba(13, 145, 101, 0.644);
border: none;
border-radius: 20px;
padding: 10px;
/* margin: 20px; */
}
.Gamebtn button:hover{
  background-color: rgba(0, 0, 0, 0.621);
  transform: scale(1.2);
  color: aquamarine;}


.NewGame{
margin-top: 10px;
height: 50px;
width: 100px;
background-color: rgba(13, 145, 101, 0.644);
border: none;
border-radius: 20px;
padding: 10px;
/* margin: 20px; */
}

.NewGame:hover{
  background-color: rgba(0, 0, 0, 0.621);
  transform: scale(1.2);
  color: aquamarine;}

  .display{
    text-align: center;
    margin: 20px;
  }